In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
import matplotlib.pyplot as plt
import seaborn as sns

# Membaca file CSV yang berisi data pelanggan mall
df = pd.read_csv("C:/Users/ASUS/OneDrive/Ad astra/sales.csv")

# Menampilkan informasi dasar mengenai dataset (kolom, tipe data, nilai null, dll.)
df.info()

# Menampilkan data
display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   999 non-null    int64
 1   CustomerID                999 non-null    object
 2   SalesRepID                999 non-null    object
 3   ProductID                 999 non-null    object
 4   Sales Quantity (in tons)  999 non-null    int64
 5   Sales Amount (in US$)     999 non-null    int64
 6   Year                      999 non-null    int64
 7   Month                     999 non-null    object
 8   Day                       999 non-null    int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

,SalesID,CustomerID,SalesRepID,ProductID,Sales Quantity (in tons),Sales Amount (in US$),Year,Month,Day
0,210001,R012,BB1988,S2022,16,16000,2021,Jan,3
1,210002,R012,AA1986,S2022,18,18000,2021,Jan,3
2,210003,R078,CG1990,F3031,4,4000,2021,Jan,4
3,210004,R056,BF1988,F3030,1,1300,2021,Jan,6
4,210005,R078,CG1990,F3032,8,5600,2021,Jan,6
...,...,...,...,...,...,...,...,...,...
994,230376,R078,DH1985,S2020,1,3000,2023,Dec,15
995,230377,R078,CG1990,S2021,7,14000,2023,Dec,18
996,230378,R012,BB1988,S2022,22,22000,2023,Dec,19
997,230379,R012,BB1988,F3032,12,8400,2023,Dec,21
998,230380,R078,DH1985,F3030,6,7800,2023,Dec,27

- Data Understanding

Pada bagan ini, kita akan mencari insight dari data yang kita miliki. Kita akan melihat apakah data ini telah siap diolah ataukah masih perlu adanya preprocessing.

In [5]:
df.shape

(999, 9)

In [ ]:
df.describe()

,SalesID,Sales Quantity (in tons),Sales Amount (in US$),Year,Day
count,999.000000,999.000000,999.000000,999.000000,999.000000
mean,220381.321321,11.460460,16858.958959,2022.021021,14.336336
std,8608.024066,7.120786,14568.341376,0.860255,7.950813
min,210001.000000,1.000000,700.000000,2021.000000,1.000000
25%,210250.500000,5.000000,6400.000000,2021.000000,8.000000
50%,220141.000000,10.000000,13000.000000,2022.000000,14.000000
75%,230130.500000,17.000000,23000.000000,2023.000000,21.000000
max,230380.000000,25.000000,75000.000000,2023.000000,28.000000

In [6]:
df.isna().sum()

SalesID                     0
CustomerID                  0
SalesRepID                  0
ProductID                   0
Sales Quantity (in tons)    0
Sales Amount (in US$)       0
Year                        0
Month                       0
Day                         0
dtype: int64

# Buat Model

In [7]:
# Features and target
X = df.drop('Outcome', axis=1)  # Features
y = df['Outcome']  # Target (Outcome)

KeyError: "['Outcome'] not found in axis"

In [ ]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
# Standardize the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
# Train the Logistic Regression model
model = LogisticRegression()
model.fit(X_train_scaled, y_train)