# *Data Preparation with Python*

In [4]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\asus\onedrive\belajar ngoding\belajar py\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\onedrive\belajar ngoding\belajar py\.venv\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\onedrive\belajar ngoding\belajar py\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\onedrive\belajar ngoding\belajar py\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\onedrive\belajar ngoding\belajar py\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\onedrive\belajar ngoding\belajar py\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

##### Membaca data

In [12]:
import pandas as pd
df = pd.read_csv("D:/Data sets/penduduk_telepon_seluler_pedesaan.csv")
df.tail(1)

,nama_series,kode_wilayah,wilayah,tahun,nilai,target
524,Proporsi Penduduk yang Memiliki Telepon Selule...,94,Papua,2015,32.51,NaN

- `;` (titik koma)
- `\t` (*tab*)
- `|` (*pipe*)

In [13]:
df = pd.read_csv("D:/Data sets/penduduk_telepon_seluler_pedesaan.csv")

`head()` digunkan untuk melihat 5 baris pertama:

In [14]:
df.head()

,nama_series,kode_wilayah,wilayah,tahun,nilai,target
0,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2001,NaN,100.0
1,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2002,NaN,100.0
2,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2003,NaN,100.0
3,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2004,NaN,100.0
4,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2005,8.19,100.0

`tail()` untuk melihat 5 data urutan bawah.

In [11]:
df.tail()

    nama_series,kode_wilayah,wilayah,tahun,nilai,target
520  Proporsi Penduduk yang Memiliki Telepon Selule...
521  Proporsi Penduduk yang Memiliki Telepon Selule...
522  Proporsi Penduduk yang Memiliki Telepon Selule...
523  Proporsi Penduduk yang Memiliki Telepon Selule...
524  Proporsi Penduduk yang Memiliki Telepon Selule...

Struktur data.

![Series vs DataFrame](https://storage.googleapis.com/lds-media/images/series-and-dataframe.width-1200.png)
[*Source*](https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/)

DataFrame info

In [35]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama_series   525 non-null    object
 1   kode_wilayah  525 non-null    int64
 2   wilayah       525 non-null    object
 3   tahun         525 non-null    int64
 4   nilai         361 non-null    float64
 5   target        15 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 24.7+ KB
None

Menghapus Duplikasi

In [36]:
jumlah_duplikat = df.duplicated().sum()
print(f"Jumlah data duplikat: {jumlah_duplikat}")

df.drop_duplicates(inplace=True)

Jumlah data duplikat: 0

Mengubah type data

In [15]:
df['nilai'] = df['nilai'].astype('float64')
df['target'] = df['target'].astype('float64')
df['tahun'] = df['tahun'].astype('int64')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525 entries, 0 to 524
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama_series   525 non-null    object
 1   kode_wilayah  525 non-null    int64
 2   wilayah       525 non-null    object
 3   tahun         525 non-null    int64
 4   nilai         361 non-null    float64
 5   target        15 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 24.7+ KB
None

Mengatasi Missing Values
- Menghapus baris dengan missing values
- Mengisi missing values dengan nilai rata-rata

In [44]:
# Menghapus baris dengan missing values
df_cleaned = df.dropna(subset=['nilai', 'target'])
print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525 entries, 0 to 524
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama_series   525 non-null    object
 1   kode_wilayah  525 non-null    int64
 2   wilayah       525 non-null    object
 3   tahun         525 non-null    int64
 4   nilai         525 non-null    float64
 5   target        525 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 28.7+ KB
None

In [45]:
# Mengisi missing values dengan nilai rata-rata
df['nilai'] = df['nilai'].fillna(df['nilai'].mean())
df['target'] = df['target'].fillna(df['target'].mean())
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525 entries, 0 to 524
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama_series   525 non-null    object
 1   kode_wilayah  525 non-null    int64
 2   wilayah       525 non-null    object
 3   tahun         525 non-null    int64
 4   nilai         525 non-null    float64
 5   target        525 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 28.7+ KB
None

Mengatasi Outliers

In [23]:
# menggunakan perhitungan outliers
Q1 = df['nilai'].quantile(0.25)
Q3 = df['nilai'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['nilai'] < lower_bound) | (df['nilai'] > upper_bound)]

df_cleaned = df[~df.index.isin(outliers.index)]

print("\nOutliers:")
print(outliers)

Outliers:
Empty DataFrame
Columns: [nama_series, kode_wilayah, wilayah, tahun, nilai, target]
Index: []

In [24]:
# menentukan batas atas dan bawah
upper_bound = 100
lower_bound = 15

outliers = df[(df['nilai'] < lower_bound) | (df['nilai'] > upper_bound)]

print("\nOutliers:")
outliers

Outliers:

,nama_series,kode_wilayah,wilayah,tahun,nilai,target
4,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2005,8.19,100.0
5,Proporsi Penduduk yang Memiliki Telepon Selule...,1,Indonesia,2006,12.27,100.0
20,Proporsi Penduduk yang Memiliki Telepon Selule...,11,Aceh,2006,12.71,NaN
34,Proporsi Penduduk yang Memiliki Telepon Selule...,12,Sumatera Utara,2005,8.15,NaN
35,Proporsi Penduduk yang Memiliki Telepon Selule...,12,Sumatera Utara,2006,14.21,NaN
49,Proporsi Penduduk yang Memiliki Telepon Selule...,13,Sumatera Barat,2005,9.65,NaN
79,Proporsi Penduduk yang Memiliki Telepon Selule...,15,Jambi,2005,8.88,NaN
80,Proporsi Penduduk yang Memiliki Telepon Selule...,15,Jambi,2006,14.20,NaN
94,Proporsi Penduduk yang Memiliki Telepon Selule...,16,Sumatera Selatan,2005,5.35,NaN
95,Proporsi Penduduk yang Memiliki Telepon Selule...,16,Sumatera Selatan,2006,8.38,NaN
109,Proporsi Penduduk yang Memiliki Telepon Selule...,17,Bengkulu,2005,4.07,NaN
110,Proporsi Penduduk yang Memiliki Telepon Selule...,17,Bengkulu,2006,9.33,NaN
124,Proporsi Penduduk yang Memiliki Telepon Selule...,18,Lampung,2005,5.76,NaN
125,Proporsi Penduduk yang Memiliki Telepon Selule...,18,Lampung,2006,12.00,NaN
139,Proporsi Penduduk yang Memiliki Telepon Selule...,19,Kepulauan Bangka Belitung,2005,13.86,NaN
184,Proporsi Penduduk yang Memiliki Telepon Selule...,32,Jawa Barat,2005,7.64,NaN
185,Proporsi Penduduk yang Memiliki Telepon Selule...,32,Jawa Barat,2006,9.57,NaN
199,Proporsi Penduduk yang Memiliki Telepon Selule...,33,Jawa Tengah,2005,9.85,NaN
200,Proporsi Penduduk yang Memiliki Telepon Selule...,33,Jawa Tengah,2006,13.08,NaN
229,Proporsi Penduduk yang Memiliki Telepon Selule...,35,Jawa Timur,2005,8.74,NaN
230,Proporsi Penduduk yang Memiliki Telepon Selule...,35,Jawa Timur,2006,12.80,NaN
244,Proporsi Penduduk yang Memiliki Telepon Selule...,36,Banten,2005,5.83,NaN
245,Proporsi Penduduk yang Memiliki Telepon Selule...,36,Banten,2006,8.76,NaN
274,Proporsi Penduduk yang Memiliki Telepon Selule...,52,Nusa Tenggara Barat,2005,5.32,NaN
275,Proporsi Penduduk yang Memiliki Telepon Selule...,52,Nusa Tenggara Barat,2006,11.45,NaN
289,Proporsi Penduduk yang Memiliki Telepon Selule...,53,Nusa Tenggara Timur,2005,1.27,NaN
290,Proporsi Penduduk yang Memiliki Telepon Selule...,53,Nusa Tenggara Timur,2006,3.76,NaN
291,Proporsi Penduduk yang Memiliki Telepon Selule...,53,Nusa Tenggara Timur,2007,9.37,NaN
304,Proporsi Penduduk yang Memiliki Telepon Selule...,61,Kalimantan Barat,2005,6.29,NaN
305,Proporsi Penduduk yang Memiliki Telepon Selule...,61,Kalimantan Barat,2006,10.92,NaN
319,Proporsi Penduduk yang Memiliki Telepon Selule...,62,Kalimantan Tengah,2005,4.21,NaN
320,Proporsi Penduduk yang Memiliki Telepon Selule...,62,Kalimantan Tengah,2006,8.83,NaN
334,Proporsi Penduduk yang Memiliki Telepon Selule...,63,Kalimantan Selatan,2005,12.22,NaN
349,Proporsi Penduduk yang Memiliki Telepon Selule...,64,Kalimantan Timur,2005,14.82,NaN
379,Proporsi Penduduk yang Memiliki Telepon Selule...,71,Sulawesi Utara,2005,8.41,NaN
380,Proporsi Penduduk yang Memiliki Telepon Selule...,71,Sulawesi Utara,2006,11.29,NaN
394,Proporsi Penduduk yang Memiliki Telepon Selule...,72,Sulawesi Tengah,2005,3.07,NaN
395,Proporsi Penduduk yang Memiliki Telepon Selule...,72,Sulawesi Tengah,2006,5.59,NaN
409,Proporsi Penduduk yang Memiliki Telepon Selule...,73,Sulawesi Selatan,2005,7.35,NaN
424,Proporsi Penduduk yang Memiliki Telepon Selule...,74,Sulawesi Tenggara,2005,3.21,NaN
425,Proporsi Penduduk yang Memiliki Telepon Selule...,74,Sulawesi Tenggara,2006,7.39,NaN
439,Proporsi Penduduk yang Memiliki Telepon Selule...,75,Gorontalo,2005,4.32,NaN
440,Proporsi Penduduk yang Memiliki Telepon Selule...,75,Gorontalo,2006,6.86,NaN
455,Proporsi Penduduk yang Memiliki Telepon Selule...,76,Sulawesi Barat,2006,7.47,NaN
469,Proporsi Penduduk yang Memiliki Telepon Selule...,81,Maluku,2005,2.43,NaN
470,Proporsi Penduduk yang Memiliki Telepon Selule...,81,Maluku,2006,4.08,NaN
471,Proporsi Penduduk yang Memiliki Telepon Selule...,81,Maluku,2007,7.44,NaN
484,Proporsi Penduduk yang Memiliki Telepon Selule...,82,Maluku Utara,2005,2.30,NaN
485,Proporsi Penduduk yang Memiliki Telepon Selule...,82,Maluku Utara,2006,4.73,NaN
486,Proporsi Penduduk yang Memiliki Telepon Selule...,82,Maluku Utara,2007,11.52,NaN
500,Proporsi Penduduk yang Memiliki Telepon Selule...,91,Papua Barat,2006,6.05,NaN
501,Proporsi Penduduk yang Memiliki Telepon Selule...,91,Papua Barat,2007,14.01,NaN
514,Proporsi Penduduk yang Memiliki Telepon Selule...,94,Papua,2005,4.61,NaN
515,Proporsi Penduduk yang Memiliki Telepon Selule...,94,Papua,2006,4.60,NaN
516,Proporsi Penduduk yang Memiliki Telepon Selule...,94,Papua,2007,11.13,NaN
517,Proporsi Penduduk yang Memiliki Telepon Selule...,94,Papua,2008,13.50,NaN

In [19]:
# menghapus data outliers
df_cleaned = df[~df.index.isin(outliers.index)]

Menyimpan Data yang Sudah Dibersihkan

In [22]:
df_cleaned.to_csv('data_cleaned.csv', index=False)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 469 entries, 0 to 524
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nama_series   469 non-null    object
 1   kode_wilayah  469 non-null    int64
 2   wilayah       469 non-null    object
 3   tahun         469 non-null    int64
 4   nilai         305 non-null    float64
 5   target        13 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 25.6+ KB